@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(http://postach.io/static/themes/_assets/bootstrap/css/bootstrap.min.css);
@import url(http://postach.io/static/themes/_assets/bootstrap/css/bootstrap-responsive.min.css);
/**
 * Utilities
 * Mixins used throughout themes and the main site
 */
/**
 * REM units mixin with PX fallback for legacy browsers with no REM unit support
 * https://github.com/christopher-ramirez/remixings
 */
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.align-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.no-underline {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.block {
  display: block;
}
.block:after {
  content: "";
  display: table;
  clear: both;
}
.block:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.inline-block {
  display: inline-block;
}
.hidden {
  display: none;
  visibility: hidden;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
.no-flick {
  -webkit-transform: translate3d(0, 0, 0);
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * Visibility Utilites
 * NOTE: Only include these if you aren't using Bootstrap!
 */
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
/* Override Utilities
--------------------------------------------- */
.gist {
  font-size: 13px;
  font-size: 0.8125rem;
}
/*---------------------------------------------------
    LESS Elements 0.9.1
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    MODIFIED BY: Brandon Brown
  ---------------------------------------------------*/
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
/* used for styling post content in themes */
body {
  font-family: 'Open Sans', helvetica, sans-serif;
}
a {
  color: #2eb18d;
}
a:visited {
  color: #2eb18d;
}
a:active {
  color: #d84c30;
}
a:hover {
  color: #d84c30;
}
p {
  color: #333333;
}
.navbar {
  box-shadow: 0;
  -webkit-box-shadow: 0;
  border-bottom: 0;
}
.navbar-inner {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2eb18d;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-bottom: 0;
}
a.brand,
a.brand:link,
a.brand:visited {
  font-size: 20px;
  color: #ffffff;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
a.brand:hover,
a.brand:link:hover,
a.brand:visited:hover {
  color: #333;
}
.nav li a,
.nav li a:link,
.nav li a:visited,
.nav li a:hover,
.nav li.active a,
.nav li.active a:link,
.nav li.active a:visited,
.nav li.active:hover a,
.nav li.active:hover a:link,
.nav li.active:hover a:visited,
.nav {
  color: #ffffff;
  text-shadow: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav li:hover a,
.nav li:hover a:link,
.nav li:hover a:visited,
.nav li.active a:link {
  color: #333;
}
.nav li a {
  padding-right: 0 !important;
}
.nav li a:hover,
.nav li a.active {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  font-weight: 400 !important;
}
.post .post-content {
  display: block;
}
.post .post-content ul,
.post .post-content ol,
.post .post-content li,
.post .post-content blockquote,
.post .post-content p,
.post .post-content div,
.post .post-content b,
.post .post-content i {
  text-align: left;
}
.post .post-content ul strong,
.post .post-content ol strong,
.post .post-content li strong,
.post .post-content blockquote strong,
.post .post-content p strong,
.post .post-content div strong,
.post .post-content b strong,
.post .post-content i strong {
  font-weight: bold;
}
.post .post-content b {
  font-weight: bold;
}
.post .post-content p,
.post .post-content div {
  padding: 7.5px 0;
  margin: 0;
}
.post .post-content p.gist,
.post .post-content div.gist {
  padding: 0;
  margin: 0;
}
.post .post-content p.gist .gist-file,
.post .post-content div.gist .gist-file,
.post .post-content p.gist .gist-data,
.post .post-content div.gist .gist-data,
.post .post-content p.gist .gist-syntax,
.post .post-content div.gist .gist-syntax,
.post .post-content p.gist .file-data,
.post .post-content div.gist .file-data,
.post .post-content p.gist .line,
.post .post-content div.gist .line {
  padding: 0;
  margin: 0;
}
.post .post-content table {
  margin: 0;
  padding: 0;
}
.post .post-content blockquote {
  padding: 7.5px 15px;
  margin: 7.5px 0;
  border-left: 5px solid #e5e5e5;
}
.post .post-content ul {
  padding: 7.5px 0 11.25px;
  margin-left: 50px;
}
.post .post-content ul li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
.post .post-content ol {
  padding: 7.5px 0 11.25px;
  margin-left: 30px;
}
.post .post-content ol li {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
}
.post .post-content h1 {
  padding-bottom: 15px;
}
.post .post-content h2,
.post .post-content h3 {
  padding-top: 15px;
}
.post .post-content img {
  max-width: 100%;
}
.post .post-content .mejs-container {
  margin-top: 7.5px;
}
.post .post-content .post-pdf {
  position: relative;
}
.post .post-content .post-pdf .pdf-fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
  font-size: 12px;
  padding: 10px;
  background-color: #1abc9c;
  border-radius: 7px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
.post .post-content .post-pdf .pdf-fullscreen:hover {
  color: #fff;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.post .post-content .post-pdf object {
  display: block;
  min-height: 400px;
}
.post .image {
  margin-top: 20px;
}
.post h1 {
  font-size: 28px;
  margin-top: 15px;
  font-weight: 300;
}
.post h2 {
  font-size: 24px;
  line-height: 34px;
}
.post h3 {
  font-size: 20px;
  line-height: 30px;
}
.post h4 {
  font-size: 16px;
  line-height: 26px;
}
.post h5 {
  font-size: 12px;
  line-height: 22px;
}
.post h6 {
  font-size: 8px;
  line-height: 18px;
}
.post pre {
  margin: 20px 0;
}
.post .link-url {
  display: block;
  padding-top: 20px;
}
.post p {
  font-size: 14px;
  line-height: 24px;
}
.post ul,
.post ol {
  margin-left: 40px;
}
.post ul li,
.post ol li {
  line-height: 24px;
}
.bio {
  position: relative;
  background-color: #F5F5F5;
  border-top: 2px solid #2eb18d;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 50px 30px 30px 30px;
  font-size: 12px;
  color: #666666;
}
.bio img.avatar {
  position: absolute;
  top: -33px;
  left: 25px;
  width: 66px;
  height: 66px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.bio p {
  margin: 0;
  padding: 0;
}
.bio ul {
  margin-top: 20px;
}
ul.tags {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 22px;
}
ul.tags li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.post ul.tags {
  font-size: 14px;
  line-height: 22px;
}
.pagination {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination .post-prev,
.pagination .post-next {
  padding: 10px 15px;
}
.pagination .post-prev {
  float: left;
}
.pagination .post-next {
  float: right;
  text-align: right;
}
ul.social li a:hover {
  text-decoration: none;
}
footer {
  background-color: #F5F5F5;
  margin-top: 40px;
  padding: 20px;
  font-size: 12px;
  color: #666666;
}
.post-pdf {
  position: relative;
}
.post-pdf .pdf-fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
  font-size: 12px;
  background-color: #2eb18d;
  padding: 10px;
  border-radius: 7px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
.post-pdf .pdf-fullscreen:hover {
  color: #fff;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.post-pdf object {
  display: block;
  min-height: 400px;
}
.socialbar-container {
  display: block;
}
.socialbar-container:after {
  content: "";
  display: table;
  clear: both;
}
.socialbar-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.socialbar-container a,
.socialbar-container .socialbar-share-container {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
}
.post .socialbar-container {
  clear: both;
  padding-top: 20px;
}
@media (min-width: 980px) {
  body {
    padding-top: 120px;
  }
}
.login {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
  padding-top: 100px;
  background-color: transparent;
}
.login form {
  background-color: #fff;
  padding: 40px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 380px;
  margin: 0 auto;
}
.login form div {
  padding-bottom: 7px;
}
.login input {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12pt;
  line-height: 12pt;
  padding: 7px;
}
.login input.input-password {
  margin: 0;
}
.login input.input-submit {
  color: #fff;
  border: 0;
  background-color: #2eb18d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.login label {
  font-weight: bold;
  font-size: 10pt;
  line-height: 10pt;
  padding-bottom: 7px;
}
.login p {
  padding-bottom: 20px;
  margin: 0;
}
.login p.login-copyright {
  padding-top: 20px;
  font-size: 9pt;
}
.login .login-error {
  display: block;
  background-color: #f76643;
  color: #fff;
  font-size: 10pt;
  line-height: 10pt;
  padding: 7px;
}
